#content{
    background-color: gray;
    color: black;
    width: 50%;
    
}

h1{
    color: crimson;
    background-color: blanchedalmond;
    width: fit-content;
    font-size: larger;
}
